@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0e1116;
    scroll-behavior: smooth;
}

#search::-webkit-input-placeholder{
    color: gainsboro;
}

#emailaddress::-webkit-input-placeholder{
    color: gray;
    font-weight: 300;
}

#vscode::-webkit-input-placeholder{
    color: gainsboro;
}

@keyframes updown {
    0% {top: 3.6rem;}
    50% {top: 4rem;}
    100% {top: 3.6rem;}
}

/* ::-webkit-scrollbar-track{
    
} */

@keyframes line {
    0% {width: 0;}
    100% {width: 100%;}
}

#buttonbottom{
    animation: line 0.5s 1;
    border: 1px solid white;
    background-color: white;
    transition: ease-in-out;
}

/* div
{
    border: 1px solid red;
} */

#cursor{
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:300px;
    background:#0f0;
    border-radius:50%;
    transform:translate(-50%,-50%);
    animation: animate 4s linear infinite;
    filter: blur(300px);
}
#cursor1{
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:300px;
    background:rgb(208, 64, 8);
    border-radius:50%;
    transform:translate(-50%,-50%);
    animation: animate 4s linear infinite;
    filter: blur(300px);
}
#cursor2{
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:300px;
    background:rgb(8, 73, 177);
    border-radius:50%;
    transform:translate(-50%,-50%);
    animation: animate 4s linear infinite;
    filter: blur(300px);
}
